html, body{
    margin: 0;
    font-family: 'Roboto';
    height: 100%;
}

#profil{
    background-color: #212C4F;
    color: white;
}

#photo {
    object-fit: contain;
}

#projets{
    background-color: #212C4F;
}

#list{
    background-color: rgb(199, 206, 218);
}

#footer{
    background-color: #212C4F;
    color: white;
}
    
#footer > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer > div:first-of-type {
    border-right: 1px solid white;
}

#link_mail:visited, #link_mail:link{
    color: white;
}

@media screen and (min-width: 300px)  {

    #profil{
        height: 80%;
    }

    #photo_div{
        height: fit-content;
        padding: 5rem;
        padding-bottom: 0;
    }

    #photo {
        max-width: 100%;
    }

    #presentation{
        height: fit-content;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem;
        text-align: center;
    }

    #projets{
        display: flex;
        justify-content: center;
        border-top: 3px solid rgb(199, 206, 218);
        border-bottom: 3px solid rgb(199, 206, 218);
    }

    
    /*#list{
        width: 90%;

        To let blue bands on the side
    }*/

    .cell{
        margin-top: 5rem;
        text-align: center;
    }

    iframe{
        width: 90%;
        min-height: 25rem;
    }

    #footer{
        display: flex;
    }

    #footer > div{
        font-size: 30px;
        text-align: center;
        padding: 2rem 0; 
    }

    #mail{
        display: flex;
        flex-direction: column;
    }

    #pipe{
        display: none;
    }

    #space{
        display: none;
    }
}

@media screen and (min-width: 1400px)  {
    
    #profil{
        display: flex;
        height: 60%;
        padding: 4%;
    }
    
    #photo_div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #photo {
        object-fit: contain;
        max-width: 70%;
    }
    
    #presentation{
        height: 100%;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    #projets{
        display: flex;
        justify-content: center;
        border-top: 1px solid rgb(199, 206, 218);
        border-bottom: 1px solid rgb(199, 206, 218);
    }
    
    #list{
        width: 80%;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 20px;
    }
    
    .row{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2%;
    }
    
    .cell{
        width: 50%;
        margin-top: 0;
    }

    #in_progress{
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center;

        #in_progress_img{
            max-width: 70%;
        }
    }
    
    iframe{
        width: 80%;
        min-height: 300px;
    }
    
    #footer{
        height: 15%;
        display: flex;
    }

    #footer > div {
        font-size: 25px;
    }

    #mail{
        flex-direction: row;
    }

    #pipe{
        display: block;
    }

    #img_cv{
        max-height: 100px;
    }
    
    #space{
        display: block;
    }
}