html, body{
    margin: 0;
    font-family: 'Roboto';
    height: 100%;
}

#profil{
    display: flex;
    height: 60%;
    padding: 5%;
    background-color: #212C4F;
    color: white;
}

#photo {
    max-height: 100%; 
    width: auto;
}

#presentation{
    height: 100%;
    font-size: 25px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#projets{
    display: flex;
    justify-content: center;
    background-color: #212C4F;
    border-top: 1px solid rgb(199, 206, 218);
    border-bottom: 1px solid rgb(199, 206, 218);
}

table{
    width: 80%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
    background-color: rgb(199, 206, 218);
}

td{
    padding: 20px;
    width: 50%;
}

iframe{
    width: 80%;
    min-height: 500px;
}

#footer{
    height: 15%;
    background-color: #212C4F;
    display: flex;
    color: white;
    font-size: 25px;
}

#footer > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
}

#link_mail:visited, #link_mail:link{
    color: white;
}

#img_cv{
    max-height: 100px;
}